/*générale*/
body{
    min-width: $minwidth;
    font-family: $police-regular;
}
a{
    color:$text-color-dark;
}
p{
    color: $text-color-dark;

}
header, footer{
    width:100%
}
h1, h2{
    font-family: $police-bold;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 18px;
}
/*header*/
header{

    position: relative;
    img {
        width:45%;
        display:block;
        margin: 23px auto 14px;
    }
}
/*content*/

.restaurants{
    width: $bloc-central;
    margin:0 auto;
    h1{
        margin: 20px 0 ;
    }
    &__contenu  {
        article{
            width: 100%;
            height: $card-taille;
            margin-bottom: 20px;
            background-color: $color-card;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 0 10px rgb(0 0 0 / 24%);
            p{
                margin:8px 0 10px 10px
            }
            h2{
                margin: 10px 0 0 10px;
            }
            img{
                    width: 100%;
                    height: $card-img-taille;
                    object-fit:cover ;
                }
            } 
        &--txt{
            display: flex;
            flex-wrap: wrap;
            height: $card-txt-taille;
            align-items: center;
            div:nth-child(1){
                width:85%
            }
            div:nth-child(2){
                width:15%;
            }
        }
    }
}

  

/*footer*/
footer{
    height: $footer-haureur;
    background-color: $color-footer;
    color: $text-color-light;
    .footer__content{
        width: $bloc-central;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &--logo{
            width:116px;
            height: 20px;
            background-color: white;
            margin-top: 20px;
            -webkit-mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center;
            -webkit-mask-size:cover;
            mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center cover;
        }
        ul {
            margin-top: 20px;
            li{
            list-style: none;
            margin-top:10px;
            }
            li a{
                color:$text-color-light;
                letter-spacing: 1px;

            }
            li:nth-child(1) a{
                margin-left: 16px;
                font-weight: 500;
            }
            li:nth-child(2) a{
                margin-left: 10px;
            }
        }
    }
}
