/*générale*/
body{
    min-width: $minwidth;
    font-family: $police-regular;
}
a{
    color:$text-color-dark;
}
p{
    color: $color-footer;

}
header, footer{
    width:100%
}
h1, h2{
    font-family: $police-bold;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 18px;
}
/*header*/
header{

    position: relative;
    img {
        width:45%;
        display:block;
        margin: 23px auto 14px;
    }
    .return{
        position: absolute;
        left: 20px;
        top:6px;
    }
}
.rechercher{
    width:100%;
    &__position{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-position;
        height:50px ;
       
        p{
            margin-left: 15px;
            font-family: $police-bold;
            color:$text-color-dark;
        }
        i{
            color:$color-footer;
        } 
    }
    &__accroche{
        width: $bloc-central;
        margin: 0 auto;
        text-align: center;
        h1{
            margin-top: 40px;
            font-size: 26px;
        }
        p{
            margin: 20px 0;
            font-size: 16px;
        }
        &--button{
            cursor: pointer;
            width:220px;
            height: 50px;
            border-radius: 50px;
            font-size: 15px;
            font-family: $police-bold;
            background: linear-gradient(175deg,$color-sec, $color-prim);
            color:$text-color-light;
            border: none;
            box-shadow: 0px 5px 5px rgb(53 53 53 / 30%);
        }
    }
    &__fonctionnement{
        width:$bloc-central;
        margin: 20px auto 0;
        display: flex;
        flex-direction: column;
        &--etape{
            float: right;
            width: calc(100% - 12px);
            height: 70px;
            max-width: 420px;
            margin: 0 auto 20px;
            align-items: center;
            background-color:$color-fond;
            border-radius: 20px;
            display: flex;
            box-shadow: 0px 5px 5px rgb(53 53 53 / 15%);
            p:nth-child(1)
            {
                margin-left:-12px;
                text-align: center;
                color:white;
                width:29px;
                height: 25px;
                border-radius: 13px;
                line-height: 22px;
                background-color: $color-prim;
            }
            i{
                text-align: center;
                width: 20%;
                color: $txt-color-grey;
            }
            p:nth-child(3)
            {
                font-family: $police-bold;
                width:inherit;
            }
            &-3{
                background-color: rgb($color-prim, .15);
                i{
                color:$color-prim;
                }
            }
        }
    }
}

/*content*/
.menu{
    width: 100%;
    position:relative;
    z-index: 2;       
    margin-top: -60px;
    margin-bottom: 30px;
    background-color: $color-card;
    border-radius: 50px;
    &--img{
        position: relative;
        z-index: 1;
        img{ 
            width: 100%;
        }
    }
    &__content{ 
        width: $bloc-central;
        margin: 0 auto;
        h1{
            padding: 40px 0 16px 0;
        }
        H2{
            font-family: $police-regular;
            margin: 40px 0 30px 0;
            
            span{
                text-decoration: underline $color-ter 3px;
                text-underline-offset: 10px;
            }
        }
    }
    form{
        width: $bloc-central;
        margin: 0 auto;
        text-align: center;
    }
}

@keyframes apparition {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    15%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.5;
    }
    100%{   
        transform: translateY(0);
        opacity: 1;
    }
    
}


.plats{
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 24%);
    border-radius: 17px;
    overflow: hidden;
    $delay:100ms;
    animation: apparition 300ms  cubic-bezier(.48,0,.63,1) both;
    @for $i from 1 through 15
    {
        
        &-#{$i}
        {
            animation-delay: $delay;
        }
        $delay:$delay+70ms;
    }
   
    h2{
        max-width: 80%;
        font-family: $police-bold;
        margin: 0 0 5px 0;
    }
    p{
        width: 80%;
        height: 18px;
        clear:both;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a{
        display: flex;
        justify-content: space-between;
        height: 100%;
        &:hover {
            
            .plats__content--button i{
               animation: anim-button 400ms 100ms ease-in-out both;
            }
            .plats__content--button {
               margin-right: 0px;
                
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin-left: 10px;
        &--button{
            width:90px;
            background-color: $color-ter;
            margin-right: -90px;
            text-align: center;
            transition: margin-right 400ms;
            i{
                color:$color-card;
                line-height: 70px;
            }
        }
        
    }
    span{
        display: block;
        font-family: $police-bold;
        padding: 40px 15px 0 0;
    }
    
}


@keyframes anim-button{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.restaurants{
    width: $bloc-central;
    margin:0 auto;
    h1{
        margin: 20px 0 ;
    }
    &__contenu  {
        article{
            position: relative;
            width: 100%;
            height: $card-taille;
            margin-bottom: 20px;
            background-color: $color-card;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 0 10px rgb(0 0 0 / 24%);
            .nouveaute{
                display: block;
                position: absolute;
                top:5%;
                right:5%;
                font-family: $police-bold;
                color: darken($color-ter, 37);
                font-size: 15px;
                padding:6px 9px;
                border-radius: 2px;
                background-color: $color-ter;
            }
            p{
                margin:8px 0 10px 10px
            }
            h2{
                margin: 10px 0 0 10px;
            }
            img{
                    width: 100%;
                    height: $card-img-taille;
                    object-fit:cover ;
                }
            } 
        &--txt{
            display: flex;
            flex-wrap: wrap;
            height: $card-txt-taille;
            align-items: center;
            div:nth-child(1){
                width:85%
            }
            div:nth-child(2){
                width:15%;
            }
        }
    }
}


/*footer*/
footer{
    height: $footer-haureur;
    background-color: $color-footer;
    color: $text-color-light;
    .footer__content{
        width: $bloc-central;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &--logo{
            width:116px;
            height: 20px;
            background-color: white;
            margin-top: 25px;
            -webkit-mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center;
            -webkit-mask-size:cover;
            mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center cover;
        }
        ul {
            margin-top: 15px;
            li{
            list-style: none;
            margin-top:10px;
            }
            li a{
                color:$text-color-light;
                letter-spacing: 1px;

            }
            li:nth-child(1) a{
                margin-left: 16px;
                font-weight: 500;
            }
            li:nth-child(2) a{
                margin-left: 10px;
            }
        }
    }
}
.bloc{
    height:70px;
    width: $bloc-central;
    display: flex;
    &__red{
        width:auto;
        align-self: stretch;
        height:70px;
        background-color: red;
    }
    &__blue{
        width:auto;
        height:70px;
        background-color:blue;
    }
    &__pink{
        width:auto;
        height:70px;
        background-color: pink;
    }
}