/*générale*/
body{
    min-width: $minwidth;
    font-family: $police-regular;
}
a{
    color:$text-color-dark;
}
p{
    color: $color-footer;

}
header, footer{
    width:100%
}
h1, h2{
    font-family: $police-bold;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 18px;
}
/*header*/
header{

    position: relative;
    img {
        width:45%;
        display:block;
        margin: 23px auto 14px;
    }
}
/*content*/

.restaurants{
    width: $bloc-central;
    margin:0 auto;
    h1{
        margin: 20px 0 ;
    }
    &__contenu  {
        article{
            position: relative;
            width: 100%;
            height: $card-taille;
            margin-bottom: 20px;
            background-color: $color-card;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 0 10px rgb(0 0 0 / 24%);
            .nouveaute{
                display: block;
                position: absolute;
                top:5%;
                right:5%;
                font-family: $police-bold;
                color: darken($color-ter, 37);
                font-size: 15px;
                padding:6px 9px;
                border-radius: 2px;
                background-color: $color-ter;
            }
            p{
                margin:8px 0 10px 10px
            }
            h2{
                margin: 10px 0 0 10px;
            }
            img{
                    width: 100%;
                    height: $card-img-taille;
                    object-fit:cover ;
                }
            } 
        &--txt{
            display: flex;
            flex-wrap: wrap;
            height: $card-txt-taille;
            align-items: center;
            div:nth-child(1){
                width:85%
            }
            div:nth-child(2){
                width:15%;
            }
        }
    }
}

.rechercher{
    width:100%;
    &__position{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $color-position;
        height:50px ;
       
        p{
            margin-left: 15px;
            font-family: $police-bold;
            color:$text-color-dark;
        }
        i{
            color:$color-footer;
        } 
    }
    &__accroche{
        width: $bloc-central;
        margin: 0 auto;
        text-align: center;
        h1{
            margin-top: 40px;
            font-size: 26px;
        }
        p{
            margin: 20px 0;
            font-size: 16px;
        }
        &--button{
            cursor: pointer;
            width:220px;
            height: 50px;
            border-radius: 50px;
            font-size: 15px;
            font-family: $police-bold;
            background: linear-gradient(175deg, #ef74da, #a45cdb);
            color:$text-color-light;
            border: none;
            box-shadow: 0px 5px 5px rgb(53 53 53 / 30%);
        }
    }
    &__fonctionnement{
        width:$bloc-central;
        margin: 20px auto 0;
        ol li{
            list-style: decimal;
        }
    }
}

/*footer*/
footer{
    height: $footer-haureur;
    background-color: $color-footer;
    color: $text-color-light;
    .footer__content{
        width: $bloc-central;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &--logo{
            width:116px;
            height: 20px;
            background-color: white;
            margin-top: 25px;
            -webkit-mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center;
            -webkit-mask-size:cover;
            mask: url(../images/logo/ohmyfood@2x.svg) no-repeat center cover;
        }
        ul {
            margin-top: 15px;
            li{
            list-style: none;
            margin-top:10px;
            }
            li a{
                color:$text-color-light;
                letter-spacing: 1px;

            }
            li:nth-child(1) a{
                margin-left: 16px;
                font-weight: 500;
            }
            li:nth-child(2) a{
                margin-left: 10px;
            }
        }
    }
}
