/*font*/
@font-face {
    font-family: 'Raleway-regular';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* variable */
$color-prim:#9356DC;
$color-sec:#FF79DA;
$color-ter:#99E2D0;
$color-position:#eaeaea;
$color-footer:#353535;
$color-card:#fff;
$card-taille:252px;
$card-img-taille:174px;
$card-txt-taille:78px;
$text-color-light:#fff;
$text-color-dark:#000;
$police-regular:'Raleway-regular', sans-serif ;
$police-bold:'Raleway-bold', sans-serif ;
$minwidth:200px;
$bloc-central:90%;
$footer-haureur:196px;


/* fonction */ 
/* mixin */
/* placholder*/